.upload-area {
	width: 300px;
}

#file-drag {
	border: 3px solid #888;
	border-radius: 10px;
	font-size: 22px;
    text-align: center;
    color: #999;
}
#file-drag.hover{
	border: 3px solid green;
}

/* = Input form design
----------------------------------*/
.data-input table TH {
	vertical-align: top;
	text-align: left;
}
.data-input input.small {
	width: 50px;
}
#arrivalRateDistribution select,
#arrivalRateDistribution div {
	float: left;
}
