/* Base */
html {
	overflow-Y: scroll;
}

body {
	margin: 0px;
	background-image: url(images/background.png);
}

h2 { font-size: 14px; color: rgb(74, 190, 243); }

h3 { font-size: 12px; color: rgb(147, 137, 90); }

.gill-font {
	font-family: Gill Sans MT, sans-serif;
}

/* Layout */

#main {
	font-family: 'Open Sans', sans-serif;
	width: 950px;
	margin: 0 auto;
	display: block;
}

#header, #footer {
	height: 80px;
	margin: 0 auto;
	font-size: 24px;
	opacity: 0.7;
	background-color: rgb(26, 17, 7);
	-moz-box-shadow: 2px 2px 3px rgb(150, 150, 150);
	-webkit-box-shadow: 2px 2px 3px rgb(150, 150, 150);
	box-shadow: 2px 2px 3px rgb(150, 150, 150);
	color: white;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#footer { text-align: right; }

#contents {
	display: block;
	min-height: 380px;
	padding: 10px;
	color: rgb(26, 17, 7);
}

.logo, .slogan {
	width: 700px;
	float: left;
}

/* Navigation menu */
#nav {
	width: 165px;
	float: right;
	padding-top: 10px;
}

ul#list-nav {
	margin: 0px;
	padding: 0px;
	list-style:none;
}

ul#list-nav li { display:inline; }

/* File upload box */
#upload-area {
	width: 40%;
	height: 350px;
	padding: 10px;
	margin-bottom: 0px;
}

#file-drag {
	border: 2px solid #888;
	border-radius: 5px;
	font-size: 22px;
	text-align: center;
	height: 200px;
	color: #999;
	margin: 5px;
	opacity: 0.5;
}

#file-drag.hover {
	border: 3px solid green;
}

/* = Input form design
----------------------------------*/
#data-input {
	display: block;
	font-size: 14px;
	font-weight: normal;
	display: none;
}

#data-input th {
	font-weight: normal;
}

#data-input table TH {
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

#data-input input.small {
	width: 50px;
}
 /* Result table design */
#result-table {
	margin-top: 20px;
}

#result-table table th {
	color: rgb(147, 137, 90);
	font-style: italic;
	padding-left: 20px;
	padding-right: 20px;
}

#result-table table tr {
	text-align: center;
}

.ui-datepicker {
	width: 200px !important;
	font-size: 12px !important;
}

#arrivalRateDistribution select,#arrivalRateDistribution div,.task div,.task select,.catchEvents td>div,.catchEvents select
	{
	float: left;
}

.trigger {
	text-decoration: none;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(36, 27, 17);
	opacity: 0.8;
	font-size: 10px;
	border: none;
	display: inline-block;
	padding: 3px 8px 3px;
	color: rgb(250, 250, 250);
	font-weight: bold;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	cursor: pointer;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.button, #startSimulationButton, #uploadpageButton, .nav-button {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	background-color: rgb(36, 27, 17);
	opacity: 0.8;
	font-size: 12px;
	border: none;
	display: inline-block;
	padding: 5px 5px 5px;
	color: rgb(250, 250, 250);
	font-weight: normal;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	cursor: pointer;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.button:disabled {
	display: none;
}

/* Navigation buttons appearance */
.nav-button {
	background-color: rgb(74, 190, 243);
	color: rgb(0,0,0);
	opacity: 0.9;
	-moz-box-shadow: 1px 1px 2px rgba(250, 250, 250, 0.5);
	-webkit-box-shadow: 1px 1px 2px rgba(250, 250, 250, 0.5);
}

/* Button on the first page */
#uploadpageButton {
	font-size: 36px;
	padding: 10px 20px 10px;
	text-decoration: none;
}

/* Box for the uploadpageButton */
#uploadpageButtonBox {
	height: 340px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
}

/* Hover button appearance */
.button:hover, .trigger:hover, #startSimulationButton:hover, #uploadpageButton:hover {
	background: -moz-linear-gradient(top, rgb(36, 27, 17) 0%, rgb(100, 100, 100) 100% );
	background: -webkit-linear-gradient(top, rgb(36, 27, 17) 0%, rgb(100, 100, 100) 100% );
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(0, 0, 0, 0.1);
}
.nav-button:hover {
	background: -moz-linear-gradient(top, rgb(250, 250, 250) 0%, rgb(200, 200, 200) 100% );
	background: -webkit-linear-gradient(top, rgb(250, 250, 250) 0%, rgb(200, 200, 200) 100% );
	-webkit-box-shadow: 0 1px 2px rgba(250, 250, 250, 0.3), inset 0 1px 5px rgba(250, 250, 250, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(250, 250, 250, 0.3), inset 0 1px 5px rgba(250, 250, 250, 0.1);
}

/* Clicked button action */
.button:active, .trigger:active, #startSimulationButton:active, #uploadpageButton:active, .nav-button:active {
	position: relative;
	top: 1px;
}

/* Floating button for starting simulation */
#startSimulationButton {
	position: fixed;
	left: 0px;
	top: 250px;
	display: none;
}

#startSimulationButton:active {
	position: fixed;
	top: 251px;
}

/* Classes for JQuery toggle effect */
.toggle-trigger {
	background-color: rgb(26, 17, 7);
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	height: 28px;
	width: 100%;
	font-size: 1.2em;
	font-weight: normal;
	opacity: 0.6;
	text-align: center;
	cursor: pointer;
}

h2.toggle-trigger a {
	color: white;
	text-decoration: none;
	display: block;
}

h2.toggle-trigger a:hover { color: #ccc; }
h2.toggle-trigger a:active {
	position: relative;
	top: 1px;
}

.toggle-all {
	cursor: pointer;
 	background: -moz-linear-gradient(top, rgb(100, 100, 100) 0%, rgb(26, 17, 7) 100% );
	background: -webkit-linear-gradient(top, rgb(100, 100, 100) 0%, rgb(26, 17, 7) 100% );
	align: center;
	color: white;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0.6;
}

.startEvent, .resources, .task, .timetables, .gateway, .catchEvent {
	background-color: #eee;
	margin-bottom: 10px;
}

.layout-right {
	width: 100%;
	display: box;                   /* As specified */  
    display: -moz-box;              /* Mozilla */  
    display: -webkit-box;           /* WebKit */
    box-orient: horizontal;           /* As specified */  
    -moz-box-orient: horizontal;      /* Mozilla */  
    -webkit-box-orient: horizontal;   /* WebKit */  
    box-pack: end;                  /* As specified */  
    -moz-box-pack: end;             /* Mozilla */  
    -webkit-box-pack: end;          /* WebKit */
}